.button{
    border: 1px grey;
    border-radius: 21%;
    background-color: skyblue;
    opacity: 70%;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}
.button:hover{
    background-color: aqua;
    opacity: 80%;
    box-shadow: 0 0 20px aqua, 0 0 40px aqua, 0 0 60px aqua;
}

ul{
    border: 2px solid aqua;
    background-color: rgb(36, 35, 35);
    padding: 20px;
}

li{
    display: inline;
    padding: 20px;
}

a{
    color: white;
    background-color: black;
}

a:hover{
    background-color: aqua;
    opacity: 80%;
    box-shadow: 0 0 20px aqua, 0 0 40px aqua, 0 0 60px aqua;
}

.img{
    min-width: 700px;
    max-width: 1000px;
    height: auto;
}

footer{
    position:static;
    bottom: 0px;
    padding: 10px;
background-color: rgb(48, 47, 47);
display: block;
}

.a{
color: white;
background-color:gray;
text-decoration: none;
}

.a:hover{
    background-color: aqua;
    opacity: 80%;
    box-shadow: 0 0 20px aqua, 0 0 40px aqua, 0 0 60px aqua;
}

h3{
    color: white;
}

textarea{
    width: 800px;
    height: 80px;
}